@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		background-color: #e5e5e5;
	}
}

@layer utilities {
	.animation-delay-75 {
		animation-delay: 75ms;
	}
	.animation-delay-150 {
		animation-delay: 150ms;
	}
	.animation-delay-500 {
		animation-delay: 500ms;
	}
	.animation-delay-1000 {
		animation-delay: 1s;
	}
}

.fade-enter-active,
.fade-leave-active {
	transition: opacity 0.75s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.fade-enter-from,
.fade-leave-to {
	opacity: 0;
}